<Project InitialTargets="BuildAllNupkg">
  <PropertyGroup>
    <PackageOutputPath>$(MSBuildProjectDirectory)/OutputPackages</PackageOutputPath>
  </PropertyGroup>

  <Target Name="BuildAllNupkg" BeforeTargets="Build">
    <MSBuild BuildInParallel="False" Projects="runtime.osx-x64.testappridsplit/testappridsplit.csproj" Targets="Pack" Properties="PackageOutputPath=$(PackageOutputPath)">
    </MSBuild>
    <MSBuild BuildInParallel="False" Projects="runtime.win-x64.testappridsplit/testappridsplit.csproj" Targets="Pack" Properties="PackageOutputPath=$(PackageOutputPath)">
    </MSBuild>
    <MSBuild BuildInParallel="False" Projects="testappridsplit/testappridsplit.csproj" Targets="Pack" Properties="PackageOutputPath=$(PackageOutputPath)" >
    </MSBuild>
  </Target>
</Project>